*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin; 
  scrollbar-color: #313131; 
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
a,
area {
  outline: none;
}
input{
  outline: none;
border: none;
}
input:focus,
input:focus-visible
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
a::-moz-focus-inner,
area::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #313131; 
}
