.portal-wrapper{
    position: fixed;
    top: 0;
    width: 100svw;
    height: 100svh;
    background-color: #2b2a2ab0;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 999999999;
}
.all-status{
    display: flex;
    overflow: hidden;
    position: relative;
    color: #fff;
    width: 100svw;
    max-width:50rem;
    height: 20rem;
}
.status-wrapper{
    position: relative;
    display: flex;
    flex-shrink: 0;
    border: 1px solid #fff;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem); 
    background-color: rgb(37,211,102);
}
.status-wrapper.only-text{
    font-size: 2rem;
    padding: 0.3rem;
    word-break: break-all;
}
.seen-by{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0; 
    gap: 0.5rem;
    font-size: small;
}
.show{
    height: 100% !important;
}
@media  (max-width: 768px ){
    .img-view-wrapper{
        width: 100%;
    }
}