.search-bar-wrapper .search-bar{
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
}
input:focus,input:focus-visible{
    outline: none;
}
.search-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    padding: 1rem;
    background-image: url('../../assets/search-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-bar-wrapper{
    width: 90%;
    gap: 1rem;
    max-width: 40rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    background-color: #fff;
}